<div class="jumbotron" id="cont">

  <div class="row">
    <div class="col-sm-4">
      <div class="jumbotron" id="dashlet">
        <my-pagination class="img-responsive" style="width:100%" alt="app"></my-pagination>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="jumbotron" id="table">
        <my-pagination class="img-responsive" style="width:100%" alt="app"></my-pagination>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="jumbotron" id="table">
        <app-line-chart class="img-responsive" style="width:100%" alt="app"></app-line-chart>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="jumbotron" id="dashlet">
        <app-pie-chart class="img-responsive" style="width:100%" alt="app"></app-pie-chart>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="jumbotron" id="table">
        <app-line-chart2 class="img-responsive" style="width:100%" alt="app"></app-line-chart2>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="jumbotron" id="table">
        <app-mixed-chart class="img-responsive" style="width:100%" alt="app"></app-mixed-chart>
      </div>
    </div>
  </div>
  
</div>