<div class="jumbotron" id="cont">
  <div class="row">
    <div class="col-sm-6">
      <div class="jumbotron" id="dashlet1">
        <app-line-chart class="img-responsive" style="width:100%" alt="app"></app-line-chart>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="jumbotron" id="table1">
        <app-pie-chart class="img-responsive" style="width:100%" alt="app"></app-pie-chart>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="jumbotron" id="dashlet2">
        <my-pagination class="img-responsive" style="width:100%" alt="app"></my-pagination>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="jumbotron" id="table2">
        <my-pagination class="img-responsive" style="width:100%" alt="app"></my-pagination>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="jumbotron" id="dashlet3">
        <app-line-chart class="img-responsive" style="width:100%" alt="app"></app-line-chart>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="jumbotron" id="table3">
        <app-line-chart class="img-responsive" style="width:100%" alt="app"></app-line-chart>
      </div>
    </div>
  </div>
</div>