#lineChart{
    position: absolute;
}

#pieChart{    
    position: absolute;
    margin-left: 365px;
}

#barChart{
    float: right;
}


#dashlet{
    padding-top:5px; 
    padding-bottom:0px; 
    padding-left:5px; 
    padding-right:5px; 
    background-color: rgb(70, 65, 73);
    
    
}

#table{
    padding-top:5px; 
    padding-bottom:0px; 
    padding-left:5px; 
    padding-right:5px; 
    background-color: rgb(70, 65, 73);
    
    
}

#kpi{
    line-height: 70px;
    height: 250px;
    width: 1080px;
    background-color: rgb(55, 52, 59);
    border: 14mm;
    border-color: black;
    -ms-grid-row-align: center;
    position: relative;
}


#cont{
    background-color: rgb(40, 38, 43);
    padding-top:10px; 
    padding-bottom:10px; 
    padding-left:10px; 
    padding-right:10px; 
}

.row{

    padding-top:0px;
    padding-bottom:0px; 
    padding-left:0px; 
    padding-right:0px; 

}