<div class="jumbotron" id="cont">

  <div class="row">
    <div class="col-sm-4" style="padding-left: 15px; padding-right: 5px;">
      <div class="jumbotron" id="table1">
        <app-test class="img-responsive" style="width:100%" alt="app"></app-test>
      </div>
    </div>
    
    <!-- <div class="col-sm-4" style="padding-left: 5px; padding-right: 5px;">
      <div class="jumbotron" id="table2">
        <my-pagination class="img-responsive" style="width:100%" alt="app"></my-pagination>
      </div>
    </div> -->
 
    <div class="col-sm-4" style="padding-left: 5px; padding-right: 5px;">
      <div class="jumbotron" id="piechart">
        <app-pie-chart class="img-responsive" style="width:100%" alt="app"></app-pie-chart>
      </div>
    </div>
    <div class="col-sm-4" style="padding-left: 5px; padding-right: 15px;">
      <div class="jumbotron" id="mixedChart">
        <app-site-success-and-fail-messages class="img-responsive" style="width:100%" alt="app"></app-site-success-and-fail-messages>
      </div>
    </div>
  </div>

  

  <div class="row">
     
    <div class="col-sm-4" style="padding-left: 15px; padding-right: 5px;">
      <div class="jumbotron" id="lineChart1">
        <app-message-failure-cr class="img-responsive" style="width:100%" alt="app"></app-message-failure-cr>
      </div>
    </div>
    <div class="col-sm-4" style="padding-left: 5px; padding-right: 5px;">
      <div class="jumbotron" id="lineChart2">
        <app-message-failure-pr-ue class="img-responsive" style="width:100%" alt="app"></app-message-failure-pr-ue>
      </div>
    </div>
    <div class="col-sm-4" style="padding-left: 5px; padding-right: 15px;">
      <div class="jumbotron" id="mixedChart">
        <app-wip class="img-responsive" style="width:100%" alt="app"></app-wip>
      </div>
    </div>
  </div>
  <!-- <hr>
   <app-site-not-uploaded-ss></app-site-not-uploaded-ss>
  <hr>
  <div style="background-color: white">
    <data-table-demo-4></data-table-demo-4>
  </div> -->

