<div class="card" id="cardid">
    <div class="card-header" id="dashhead">
      <b>Site Not Uploaded CR, PR & UE</b>
    </div>
    <div class="card-block" id="content" >
    </div>
<!-- 
<div style=" background-color: white;">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="text-align: center">Message Site ID</th>
                <th style="text-align: center">Message Type</th>
                <th style="text-align: center">Last Uploded Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0001254789</td>
                <td>Create Return</td>
                <td></td>
            </tr>
            <tr>
                <td>0001256358</td>
                <td>Process Return</td>
                <td></td>
            </tr>
            <tr>
                <td>0001465236</td>
                <td>Update Event</td>
                <td></td>
            </tr>
            <tr>
                <td>01256398754</td>
                <td>Create Return</td>
                <td></td>
            </tr>
            <tr>
                <td>0123654789</td>
                <td>Process Return</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div> -->