<div style="margin: auto;  margin-bottom: 50px;">
    <data-table id="persons-grid"
        headerTitle="My Employees"
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"

        (rowClick)="rowClick($event)"
        (rowDoubleClick)="rowDoubleClick($event)"
        [rowTooltip]="rowTooltip"

        [limit]="8"
        [indexColumn]="false"
        

        >
        <data-table-column
            [property]="'name'"
            [header]="'A Name'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>    
        <data-table-column
            [property]="'date'"
            [header]="'Date'"
            [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                <span>{{item.date | date:'yyyy-MM-dd'}}</span>
            </ng-template>
        </data-table-column>
        <data-table-column
            property="phoneNumber"
            header="Phone number"
            > 
            <!-- table colum fixed length   width="150px" -->
        </data-table-column>
        <data-table-column
            [property]="'jobTitle'"
            [header]="'Job title'"
            [visible]="false">
        </data-table-column>

        <!-- <data-table-column
            [property]="'active'"
            [header]="'Active'"
            [width]="100"
            [resizable]="true">
            <ng-template #dataTableHeader let-item="item">
                <span style="color: rgb(232, 0, 0)">Active 2</span>
            </ng-template>
            <ng-template #dataTableCell let-item="item">
                <span style="color: grey">
                <span class="glyphicon glyphicon-ok" *ngIf="item.active"></span>
                <span class="glyphicon glyphicon-remove" *ngIf="!item.active"></span>
                </span>
            </ng-template>
        </data-table-column> -->
    </data-table>
</div>
