<!-- <div style="margin: auto;  margin-bottom: 50px;">
  <data-table id="persons-grid"
      headerTitle="My Employees"
      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"

      (rowClick)="rowClick($event)"
      (rowDoubleClick)="rowDoubleClick($event)"
      [rowTooltip]="rowTooltip"

      [limit]="8"
      [indexColumn]="false"
      

      >
      <data-table-column
          [property]="'name'"
          [header]="'A Name'"
          [sortable]="true"
          [resizable]="true">
      </data-table-column>    
      <data-table-column
          [property]="'date'"
          [header]="'Date'"
          [sortable]="true">
          <ng-template #dataTableCell let-item="item">
              <span>{{item.date | date:'yyyy-MM-dd'}}</span>
          </ng-template>
      </data-table-column>
      <data-table-column
          property="phoneNumber"
          header="Phone number"
          > 
          
      </data-table-column>
      <data-table-column
          [property]="'jobTitle'"
          [header]="'Job title'"
          [visible]="false">
      </data-table-column>


  </data-table>
</div> -->

<div class="panel" id="panelhead" >
    <div class="panel-heading" id="dashhead"><b>Site Not Uploaded SS</b></div>
</div>

<p>
    site not uoloaded ss table content here
</p>