div.header {
    
    text-align: left;
    background-color: rgb(15, 14, 15);

}

p {
    color: rgb(149, 160, 160);
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    font-size: .8cm; 
}