.wrapper {
    line-height: 70px;
    text-align: left;
    background-color: rgb(15, 14, 15);
    height: 2cm;
}

p {
    color: rgb(149, 160, 160);
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    font-size: 1cm; 
}