.banner {
    background-color: rgb(15, 14, 15);
}

#nav {
    background-color: rgb(66, 64, 68);
    height: auto;
}

#maincont {
    padding-top: .5cm;
    padding-bottom: .5cm;
    padding-right: .5cm;
    padding-left: 0cm;
    background-color: rgb(66, 64, 68);
}