#nav {
    background-color: rgb(66, 64, 68);
    margin-right: 0px;
    margin-left: 0px;
    /* height: auto; */
}

#maincont {
    padding-top: 3px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0cm;
    background-color: rgb(66, 64, 68);
}