<div class="wrapper" id="inputControlsContainer">

  <div id="getFromDate" class="leaf">
    <span class="wrap">* From Date : </span>
    <input class="date hasDatepicker" type="text" value="" id="">
  </div>

  <div id="getToDate" class="leaf">
    <span class="wrap">* To Date : </span>
    <input class="date hasDatepicker" type="text" value="" id="">
  </div>

  <div id="getCountry" class="leaf">
      <span class="wrap">Select Country : </span>
      <select>
          <option value="Srilanka" selected>Srilanka</option>
          <option value="Australia">Australia</option>
          <option value="india">india</option>
          <option value="swedan" >swedan</option>
        </select>
  </div>

  <div id="Apply" class="leaf">
    <button type="button"> Apply </button>
  </div> 


</div>