<br>
   <fieldset>
      
      <div class="form-group">
        <label for="exampleSelect1"  id="cont">Region</label>
        <select class="form-control" id="exampleSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="form-group">
          <label for="exampleSelect1">Market Unit</label>
          <select class="form-control" id="exampleSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
            <label for="exampleSelect1">From Date</label>
            <select class="form-control" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <div class="form-group">
              <label for="exampleSelect1">To Date</label>
              <select class="form-control" id="exampleSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
      <div class="form-group">
        <label for="exampleSelect2">Message Type</label>
        <select multiple="" class="form-control" id="exampleSelect2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      
      <div class="form-group">
          <label for="exampleSelect1">Site Country</label>
          <select class="form-control" id="exampleSelect1">
            <option>Australia</option>
            <option>India</option>
            <option>Sweden</option>
            <option>Switzerland</option>
            <option>Sri Lanka</option>
          </select>
        </div>

        <div class="form-group">
            <label for="exampleSelect1">Site ID</label>
            <select class="form-control" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
      
      <button type="submit" class="btn btn-primary">Apply</button>
      <button type="submit" class="btn btn-primary">Reset</button>
    </fieldset>
  
