<!--
  <h1 class="title" style="display:none">
  {{title}}
</h1>
<button (click)="toggleTitle()"> clickhere</button>

        <canvas id="line-chart" height="345" width="550" style="border:0px solid"></canvas> 
        <canvas id="line-chart" height="215" width="100%" style="border:0px solid"></canvas>

-->

<div class="panel" id="panelhead">
  <div class="panel-heading" id="dashhead">
    <b>Site Success and Fail Messages</b>
  </div>
</div>

<canvas baseChart height="185"

        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        (chartHover)="chartHovered($event)" 
        (chartClick)="chartClicked($event)">

</canvas>