<<<<<<< HEAD
/*.lineChart {
    margin-top: 5%;
}
*/*/
=======
#dashhead{
background-color: rgb(15, 15, 15);

}

#panelhead{
    background-color: rgb(41, 34, 40);
    
    }
>>>>>>> a44e0591a913c15c3723ff72afa9fbacd644e63f
